@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: rgb(2, 5, 52);
}

/* NavBar */

.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background:rgb(2, 2, 82);
    align-items: center;
}
.nav-logo{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    background : transparent;
}
.nav-menus{
    background: transparent;
}
.nav-menus ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    background: transparent;
}
.nav-menus ul li{
    background: transparent;
}
.nav-menus ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    background: transparent;
}

/* Main Section */

.intro{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.left-sec{
    color: white;
    font-size: 2.5rem;
    width: 507px;
    margin-top: auto;
    margin-bottom: auto;
}
.left-sec .name,
.left-sec div .developer{
    font-weight: 700;
    color: blueviolet;
}
.right-sec img{
    width: 550px;
    margin-top: 90px;
    margin-bottom: auto;
}
.resume a{
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    background-color: rgb(207, 210, 244);
    padding: 10px;
    font-weight: 900;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}

/* About Me */

.about-me{
    width: 80%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}
.about-me h2{
    font-size: 1.9rem;
    color: white;
}
.about-me .para{
    color: white;
    margin-top: 15px;
    font-size: 0.9rem;
}

/* Skills */

.skills{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.skills h2{
    font-size: 2rem;
    color: white;
}
.skills-area{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.skills .skills-area .skill-box img{
    height: 80px;
    width: 80px;
}
.skill-name{
    color: white;
    font-weight: 600;
    text-align: center;
}